@media screen and (min-width: 768px){
    .container-fluid>.navbar-collapse,
    .container-fluid>.navbar-header,
    .container>.navbar-collapse,
    .container>.navbar-header{
        font-size: 15px;
        padding: 1em;
    }
}

@media screen and (max-width: 736px){
    .container>.navbar-header>.navbar-brand{
        font-size: 16px;
    }
}


ol, ul{
    text-align: left;
}

.glyphicon.spinning {
    animation: spin 1s infinite linear;
    -webkit-animation: spin2 1s infinite linear;
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}