@media screen and (min-width: 768px){
    .container-fluid>.navbar-collapse,
    .container-fluid>.navbar-header,
    .container>.navbar-collapse,
    .container>.navbar-header{
        font-size: 15px;
        padding: 1em;
    }
}

@media screen and (max-width: 736px){
    .container>.navbar-header>.navbar-brand{
        font-size: 16px;
    }
}
